body {
  font-family: "Holo Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  text-align: center;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

/* Container 1 (header) */

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.title {
  font-style: italic;
  margin: 0;
  padding-left: 30px;
}

.links-header {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 30px;
}

.links-header a {
  text-decoration: none;
  color: white;
}

/* Container 2 (infobox, twenty-one-pilots photo) */

.basic-info {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
}

.infobox {
  display: flex;
  flex-direction: column;
}

.listen-now-button {
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.listen-now-button:hover {
  background-color: rgb(255, 28, 28);
  transition: 0.2s;
}

.photobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 480px;
  height: 300px;
}

/* Container 3 (blurryface era albums) */

.albums {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.albumsbox {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  flex-wrap: wrap;
}

.albumsbox img {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid white;
}

.albumsbox p {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.album-cover {
  display: block;
  width: 100%;
  height: auto;
}

.album-container {
  position: relative;
  width: 152px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.album-container:hover .overlay {
  opacity: 1;
}

/* Container 4 (quote/lyrics) */

.lyric-quote-container {
  margin: 0;
  padding: 150px;
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  display: block;
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 1rem 1.5rem;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  margin: 20px;
}

.cite {
  width: 700px;
  text-align: end;
  font-style: italic;
}

/* Container 5 (button to the lore) */

.blurryface-lore {
  background-color: black;
  color: white;
  padding: 70px;
  display: block;
}

.textbox {
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: auto;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.lore {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
  width: 600px;
  gap: 7px;
}

.infotext {
  padding: 0;
  margin: 0;
}

.lore-button {
  margin: 0;
  padding: 10px;
  width: 100px;
  height: 63px;
  margin: 0;
  font-weight: bold;
  border: 3px solid rgb(0, 0, 0);
}

.lore-button:hover {
  background-color: rgb(255, 28, 28);
  transition: 0.2s;
}

.footer {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
